certifi==2021.10.8
chardet==4.0.0
Click==8.1.2
codecov==2.1.12
configobj==5.0.6
coverage==6.3.2
dpath==2.0.6
Flask==2.1.1
Flask-HTTPAuth==4.6.0
gunicorn==20.1.0
idna==3.3
itsdangerous==2.1.2
Jinja2==3.1.1
MarkupSafe==2.1.1
parse-it==2022.3.30.7.29
ply==3.11
pyhcl==0.4.4
python-dotenv==0.20.0
python-terraform==0.10.1
PyYAML==6.0
requests==2.27.1
six==1.16.0
toml==0.10.2
urllib3==1.26.9
Werkzeug==2.0.3
xmltodict==0.12.0
